
    <article>
        <a href= "<%= "items?category=" + category.name %>" >
        <h3><%= category.name%></h3>
        <h4><%= category.description%></h4>
        </a>
        <% console.log(category) %>
        <a href="/editCategory/<%= category.id %>">EDIT CATEGORY</a>
    </article>


