<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
    (function() {
      const saved = localStorage.getItem('theme');
      if (saved) document.documentElement.setAttribute('data-theme', saved);
    })();
  </script>
    <link rel="stylesheet" href="homepage.css">
    <title>POURINVENTORY</title>
</head>
<body>
    <%- include("./partials/header",{selected : "/"}); %>
    <main>
        <div>
            <h1>Everything your guitar store needs, in one place.</h1>
            <h2>Manage inventory, organize categories, track stock, and monitor every product from a single dashboard.</h2>
            <h3>Stay organized, reduce errors, and always know what's in stock.</h3>
        </div>
        <div>
            <a href="/categories">
                <h2>🎸 Categories</h2>
                <h3>Organize guitars, accessories, amps, and more.</h3>
            </a>
            <a href="/items">
                <h2>📦 Inventory</h2>
                <h3>Track stock, update products, and monitor availability in real time.</h3>
            </a>
        </div>
    </main>
    <%- include("./partials/footer" ) %>
</body>
</html>