
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
:root
{
    --hue:28;

    --accent : hsl(var(--hue), 63%, 42%);
    --accent-hover : hsl(var(--hue,63%,50%));

    --bg: hsl(var(--hue), 61%, 8%);
    --bg-lighter: hsl(var(--hue),61%,10%);
    --surface: hsl(var(--hue),61%,12%);
    --surface-hover:hsl(var(--hue),61%,15%);
    --border:hsl(var(--hue),61%,20%);

    --text:hsl(var(--hue),63%,93%);
    --text-muted:hsla(var(--hue), 63%, 93%,  0.5)
}

* {
    padding: 0;
    margin: 0;
}

body
{
    background-color: var(--bg);
}

header {
    font-family:"Space Grotesk";
    background-color: var(--accent);
    margin: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: .5;
}

nav > a {
    display: inline-block;
    position: relative;
    transition: transform 0.125s ease-out;
}

nav > a:not(#selectedTab):hover
{
    transform: translate(0 ,-1.5px);
    cursor: pointer;
}

nav > a:not(#selectedTab)::after{
    content: "";
    left: 50%;
    transform: translate(-50%);
    position:absolute;
    bottom: -4px;
    width: 70%;
    height: 5px;
    border-radius: 999px;
    background-color: transparent;
    transition: all 0.125s ease-out;
}

nav > a:not(#selectedTab):hover::after
{
    content: "";
    left: 50%;
    bottom: -4px;
    transform: translate(-50%);
    width: 70%;
    height: 5px;
    background-color: var(--text);
    border-radius: 999px;

}

nav > a{
    text-decoration: none;  
    color:var(--text);
    font-size: larger;
    font-weight: bold;
    
}

#selectedTab {
    position: relative;
    display: inline-block;
    color: var(--text-muted);
}

#selectedTab::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
    width: 70%;
    height: 5px;
    background: var(--text-muted);
    border-radius: 999px;
}


footer {
    background-color: var(--accent);
    display: flex;
    padding: 1em;
    margin: 1em;
    align-items: center;
    justify-content: space-around;
    font-family: "Space Grotesk";
}

footer > svg {
    width: 2em;
    height: 2em;
}

footer > svg:hover{
    animation: rotation 1s linear infinite   ;
}

footer > svg > * 
{
    fill: var(--text);
}

footer > svg:hover
{
    cursor: pointer;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}