
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
:root
{
    --hue:28;

    --accent : hsl(var(--hue), 63%, 42%);
    --accent-hover : hsl(var(--hue,63%,50%));

    --bg: hsl(var(--hue), 61%, 8%);
    --bg-lighter: hsl(var(--hue),61%,10%);
    --surface: hsl(var(--hue),61%,12%);
    --surface-hover:hsl(var(--hue),61%,15%);
    --border:hsl(var(--hue),61%,20%);

    --text:hsl(var(--hue),63%,93%);
    --text-muted:hsla(var(--hue), 63%, 93%,  0.5)
}

* {
    padding: 0;
    margin: 0;
}

body
{
    background-color: var(--bg);
}

header {
    font-family:"Space Grotesk";
    background-color: var(--accent);
    margin: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: .5;
}

h2 > a{
    text-decoration: none;  
    color:var(--text)
}

#selectedTab {
    position: relative;
    display: inline-block;
    color: var(--text-muted);
    text-decoration: none; /* Remove the default underline */
}

#selectedTab::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
    width: 70%;
    height: 5px;
    background: var(--text-muted);
    border-radius: 999px;
}